/* variables */
:root {
    color-scheme: light dark;
    --text-background-dark:#222222;
    --text-background-light:#eeeeee;
    --text-hover-dark:#111111;
    --text-hover-light:#ffffff;
    --text-primary-dark:#ffffff;
    --text-primary-light:#222222;
    --text-subdued-dark:#666666;
    --text-subdued-light:#999999;
}

/* content */
html{
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-wrap: balance;
}
body{
    margin:0;
    padding:0;
    background-color: light-dark(var(--text-background-light), var(--text-background-dark));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        "Helvetica Neue", sans-serif;
    color: light-dark(var(--text-primary-light), var(--text-primary-dark));
    font-size: 1rem;
}
main{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}
section{
    flex:1;
    order: 2;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin:4%;
}
nav a{
    color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    text-decoration: none;
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid;
    border-color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    border-radius:50%;
    width:32px;
    height:32px;
    background-color: light-dark(var(--text-background-light), var(--text-background-dark));
}
nav a:hover{
    color:light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    border:2px solid;
    border-color: light-dark(var(--text-primary-light), var(--text-primary-dark));
    background-color:light-dark(var(--text-hover-light), var(--text-hover-dark));
    box-shadow: 0 0 20px rgba(0,0,0,0.75);
}
nav .close{
    fill: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    rotate: 0deg;
    transition:all 200ms ease-in-out;
}
nav a:hover .close{
    fill: light-dark(var(--text-primary-light), var(--text-primary-dark));
    rotate: 90deg;
    transition:all 400ms ease-in-out;
}
.container{
    margin:6% 12%;
}
.affiliation{
    text-transform: uppercase;
    margin-bottom: 0px;
    color: var(--figure-secondary-color);
    font-size: clamp(0.875rem, 0.607rem + 0.714vw, 1rem);
    line-height: 1;
}
h1{
    font-weight: 900;
    font-size: clamp(3.5rem, -1.911rem + 13.095vw, 6rem);
    line-height: 1;
    margin:10px 0;
    padding:0;
}
p{
    margin:0 0 10px 0;
    padding:0;
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    line-height: 1;
}
.lead{
    margin-bottom:48px;
    line-height: 1.3;
}
.lead.reduceSpacing{
    margin-bottom:16px;
}
.secondary{
    font-size: 1rem;
    color:light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    margin-bottom:48px;
    line-height: 1.3;

}
.collection{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    gap:8px;
    align-content: space-between;
    flex-wrap: wrap;
}
.item{
    border:1px solid;
    border-color: light-dark(var(--text-hover-light), var(--text-hover-dark));
    background: light-dark(var(--text-hover-light), var(--text-hover-dark));
    padding:16px 36px 16px 16px;
    box-sizing: border-box;
    border-radius:8px;
    color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    margin:0;
    flex:1;
    transition: all 200ms ease-in;
    position:relative;
}
.item:only-child{
    flex:0;
}
.item p{
    margin:0;
    white-space: nowrap;
}
.item .brand, .also .brand{
    color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    font-size:0.875rem;
    font-weight: normal;
    display: block;
    text-transform: uppercase;
    margin-bottom:4px;
    white-space: nowrap;
}
.also a{
    white-space: nowrap;
}
.item:hover{
    color: light-dark(var(--text-primary-light), var(--text-primary-dark));
    transition: all 100ms ease-in;
}
.item.active{
    border:1px solid;
    border-color: var(--figure-secondary-color);
    color: light-dark(var(--text-primary-light), var(--text-primary-dark));
}
.item:hover{
    cursor:pointer;
}
.pop{
    font-size:12px;
    font-weight: bold;
    background: light-dark(var(--text-hover-light), var(--text-hover-dark));
    width:28px;
    height:28px;
    border-radius:28px;
    color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-left:4px;
    border:1px solid;
    border-color: light-dark(var(--text-subdued-light), var(--text-subdued-dark));
    position:absolute;
    top:-4px;
    right:-4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.75);
}
.also{
    padding: 16px;
    flex:1;
    margin:0;
}
.also a{
    color:var(--figure-tertiary-color);
    text-decoration: none;
    transition: all 200ms ease-in;
}
.also a:hover{
    text-decoration: underline;
}
aside{
    flex:1;
    order: 1;
    background-image: linear-gradient(150deg, var(--figure-primary-color) 0%, var(--figure-secondary-color) 100%), url(../images/paper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.tabs-content {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
}
.tabs-content li {
    display: none;
}
.tabs-content li.extreme{
    grid-row:1 / span 11;
    padding:10px 24px 0 24px;
}
.tabs-content li.tall{
    grid-row:2 / span 10;
    padding:0 24px;
}
.tabs-content li.medium{
    grid-row:3 / span 8;
    padding:0 24px;
}
.tabs-content li.small{
    grid-row:5 / span 5;
    padding:0 24px;
}
.img-responsive{
    width:100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,.25));
}

/* animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* responsive */
@media only screen and (max-width: 1180px) {
    main{
        height: 100dvh;
    }
    section, aside{
        height: 100dvh;
    }
    .item p{
        font-size:16px;
    }
    .item p.pop{
        font-size:12px;
    }
    .tabs-content {
        height: 100dvh;
    }
}

@media only screen and (max-width: 820px) {
    main{
        flex-direction: column;
    }
    main::before{
        display: block;
        content: "";
        width:30px;
        height:100dvh;
        background-image: linear-gradient(150deg, var(--figure-primary-color) 0%, var(--figure-secondary-color) 100%);
        z-index: 1;
        position:absolute;
        top:0;
        left:0;
    }
    section{
        order: 1;
        padding:32px 0px 36px 0;
        z-index: 10;
        flex:0;
        height:auto;
    }
    nav{
        position:fixed;
        top:0;
        right:0;
        margin:16px;
    }
    nav a{
        text-decoration: none;
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:0px;
        width:40px;
        height:40px;
        background-color:none;
    }
    .container{
        margin:0;
    }
    .container p{
        padding:0 16px 0 60px;
    }
    .container h1{
        padding:0 16px 0 60px;
    }
    .lead{
        margin-bottom:16px;
    }
    .secondary{
        display: none;
    }
    .collection{
        margin:0;
        padding:8px 16px 12px 16px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .item{
        margin:0;
        padding:12px 36px 12px 12px;
    }
    .item:first-child{margin-left:44px;}

    .item p{
        padding:0;
    }
    .item p.brand{
        font-size: 14px;
    }
    .container p.also{
        padding:12px;
    }
    aside{
        order:2;
        background-image: none;
        z-index: 20;
        height:auto;
    }
    .tabs-content {
        grid-template-rows:auto;
        grid-template-columns: auto;
        height: auto;
    }
    .tabs-content .img-responsive{
        width:auto;
        height:auto;
        max-height:400px;
        margin:0 auto;
        display: block;
    }
    .tabs-content li.extreme{
        grid-row:auto;
        padding:0;
    }
    .tabs-content li.tall{
        grid-row:auto;
        padding:0;
    }
    .tabs-content li.medium{
        grid-row:auto;
        padding:0;
    }
    .tabs-content li.small{
        grid-row:auto;
        padding:0;
    }
}